<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="General">
<setting type="sep" visible="false"/>
<setting id="istream_first_run" type="bool" label="iStream First Run" default="true" visible="false"/>
<setting id="plugin_load_timestamp" type="text" label="Plugin Load Timestamp" default="" visible="false"/>
<setting id="plugins_dirs" type="text" label="Plugins Dirs" default="" visible="false"/>
<setting id="plugins_xstrc" type="text" label="Plugins_xstrc" default="" visible="false"/>
<setting id="plugins_xstrs" type="text" label="Plugins_xstrs" default="" visible="false"/>
<setting id="plugins_tls" type="text" label="Plugins_tls" default="" visible="false"/>
<setting id="plugins_prx" type="text" label="Plugins_prx" default="" visible="false"/>
<setting id="plugins_wpx" type="text" label="Plugins_wpx" default="" visible="false"/>
<setting id="plugins_hrv" type="text" label="Plugins_hrv" default="" visible="false"/>
<setting id="plugins_prv" type="text" label="Plugins_prv" default="" visible="false"/>
<setting id="plugins_chr" type="text" label="Plugins_chr" default="" visible="false"/>
<setting id="plugins_lrv" type="text" label="Plugins_lrv" default="" visible="false"/>
<setting id="plugins_ffm" type="text" label="Plugins_ffm" default="" visible="false"/>
<setting id="plugins_cst" type="text" label="Plugins_cst" default="" visible="false"/>
<setting id="plugins_ist" type="text" label="Plugins_ist" default="" visible="false"/>
<setting id="plugins_lsi" type="text" label="Plugins_lsi" default="" visible="false"/>
<setting id="plugins_mvi" type="text" label="Plugins_mvi" default="" visible="false"/>
<setting id="plugins_tvi" type="text" label="Plugins_tvi" default="" visible="false"/>
<setting id="plugins_ltvi" type="text" label="Plugins_ltvi" default="" visible="false"/>
<setting id="plugins_lspi" type="text" label="Plugins_lspi" default="" visible="false"/>
<setting id="plugins_mvs" type="text" label="Plugins_mvs" default="" visible="false"/>
<setting id="plugins_tvs" type="text" label="Plugins_tvs" default="" visible="false"/>
<setting id="plugins_ltvs" type="text" label="Plugins_ltvs" default="" visible="false"/>
<setting id="plugins_lsps" type="text" label="Plugins_lsps" default="" visible="false"/>
<setting id="plugins_dirs_xstrc" type="text" label="Plugins Dirs_xstrc" default="" visible="false"/>
<setting id="plugins_dirs_xstrs" type="text" label="Plugins Dirs_xstrs" default="" visible="false"/>
<setting id="plugins_dirs_tls" type="text" label="Plugins Dirs_tls" default="" visible="false"/>
<setting id="plugins_dirs_prx" type="text" label="Plugins Dirs_prx" default="" visible="false"/>
<setting id="plugins_dirs_wpx" type="text" label="Plugins Dirs_wpx" default="" visible="false"/>
<setting id="plugins_dirs_hrv" type="text" label="Plugins Dirs_hrv" default="" visible="false"/>
<setting id="plugins_dirs_prv" type="text" label="Plugins Dirs_prv" default="" visible="false"/>
<setting id="plugins_dirs_chr" type="text" label="Plugins Dirs_chr" default="" visible="false"/>
<setting id="plugins_dirs_lrv" type="text" label="Plugins Dirs_lrv" default="" visible="false"/>
<setting id="plugins_dirs_ffm" type="text" label="Plugins Dirs_ffm" default="" visible="false"/>
<setting id="plugins_dirs_cst" type="text" label="Plugins Dirs_cst" default="" visible="false"/>
<setting id="plugins_dirs_ist" type="text" label="Plugins Dirs_ist" default="" visible="false"/>
<setting id="plugins_dirs_lsi" type="text" label="Plugins Dirs_lsi" default="" visible="false"/>
<setting id="plugins_dirs_mvi" type="text" label="Plugins Dirs_mvi" default="" visible="false"/>
<setting id="plugins_dirs_tvi" type="text" label="Plugins Dirs_tvi" default="" visible="false"/>
<setting id="plugins_dirs_ltvi" type="text" label="Plugins Dirs_ltvi" default="" visible="false"/>
<setting id="plugins_dirs_lspi" type="text" label="Plugins Dirs_lspi" default="" visible="false"/>
<setting id="plugins_dirs_mvs" type="text" label="Plugins Dirs_mvs" default="" visible="false"/>
<setting id="plugins_dirs_tvs" type="text" label="Plugins Dirs_t