<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
       <category label="Log-ins">
		<setting label="SportsAccess Account" type="lsep" />
		<setting id="defaultServerHost" type="text" label="SportsAccess Username" default="usa.01.cdnstreams.in" visible="false"/>
		<setting id="defaultServerPort" type="text" label="SportsAccess Username" default="6034" visible="false"/>
		<setting id="defaultServerName" type="text" label="SportsAccess Username" default="East USA" visible="false"/>
		<setting id="skyusername" type="text" label="SportsAccess Username" default="" visible="true"/>
		<setting id="skypassword" type="text"label="SportsAccess Password" default="" visible="true" option="hidden" />
		<setting id="server-location" type="bool" label="[B]Server Location[/B]" default="true" visible="false"/>
   </category>
</settings>